
body{
    background-color: rgb(195, 201, 236);

}
#p1{
    text-align: left;
}
#overlay{
    background-color: rgb(195, 201, 236);
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}